%h2 kralji gnoja

%table.rankings
  %th{colspan: 3} poste radi pišejo:
  - @users_by_posts.each do |user|
    %tr
      %td= avatar_img user, :small
      %td= link_to user, user_path(user)
      %td= user.posts_count

%table.rankings
  %th{colspan: 3} teme radi odpirajo:
  - @users_by_topics.each do |user|
    %tr
      %td= avatar_img user, :small
      %td= link_to user, user_path(user)
      %td= user.topics_count
