%h2 rezultati iskanja: #{@q}
.pager= paginate @posts
%table.posts
  %thead
    %tr
      %th avtor
      %th sporočilo
  - @posts.each do |post|
    %tbody
      %tr
        %td
        %td= link_to post.topic, topic_path(post.topic)
      %tr
        %td.author
          %p
            %strong
              - if post.user
                = link_to post.user, user_path(post.user)
              - else
                neznanec
          - if post.user && post.user.avatar?
            = image_tag post.user.avatar.url(:small)
          %p
            %strong napisano:
          %p= l post.remote_created_at, format: :short
        %td.body= post.excerpts.body.html_safe
      %tr
        %td
          %a{href: "#top"} nazaj na vrh
        %td
.pager= paginate @posts
