%tr
  %td.avatar= avatar_img topic.user, :small
  %td.title
    %p= link_to topic, topic_path(topic)
    %p.date= l topic.last_post_remote_created_at
  %td.replies= topic.posts_count - 1
  %td.author= user_link topic.user
