#archive-settings{class: params[:topics_q] ? "active" : "inactive"}
  #date-slider
  = search_form_for @topics_q, as: :topics_q do |f|
    ka탑i mi teme od
    = f.text_field :last_post_remote_created_at_gteq, size: 8,
        value: @topics_q.last_post_remote_created_at_gteq.strftime("%d.%m.%Y")
    do
    = f.text_field :last_post_remote_created_at_lteq, size: 8,
        value: @topics_q.last_post_remote_created_at_lteq.strftime("%d.%m.%Y")
    = f.submit "po탑eni, schatz!"

#archive-settings-toggle= link_to "ka탑i 훾asovni stroj", "javascript:void(0)"

= render "/topics/topics", topics: @topics
