#archive-settings{class: params[:topics_q] ? "active" : "inactive"}
  #date-slider{:"data-min" => @min, :"data-max" => @max}
  = search_form_for @topics_q, as: :topics_q do |f|
    = label_tag :last_post_remote_created_on_gteq, "ka탑i mi teme od"
    = f.text_field :last_post_remote_created_on_gteq
    = label_tag :last_post_remote_created_on_lteq, "do"
    = f.text_field :last_post_remote_created_on_lteq
    = f.submit "po탑eni, schatz!"

#archive-settings-toggle= link_to "ka탑i 훾asovni stroj", "#"

= render "/topics/topics", topics: @topics
