#users-header
  %h2 uporabniki
  = search_form_for @users_q, as: :users_q do |f|
    = f.search_field :name_cont
    = f.submit "najdi uporabnika"
.pager= paginate @users
%table.users
  %thead
    %tr
      %th
      %th ime
      %th # sporoÄil
      %th # tem
  - @users.each do |user|
    %tbody
      %tr
        %td= avatar_img user, :small
        %td= link_to user, user_path(user)
        %td= user.posts_count
        %td= user.topics_count
.pager= paginate @users
