#user-header
  #user-info
    %h2= @user
    %p
      število postov:
      = link_to @user.posts_count, user_posts_path(@user)
    %p
      število tem:
      = link_to @user.topics_count, user_topics_path(@user)
  = avatar_img @user

#ppd-chart.section{:"data-user-id" => @user.id}
  %h2.section-heading posti skozi čas:
  .section-content
    = chart_filter :ppd, @ppd_q
    #ppd-chart-container.chart-container
    %p.hint NAMIG: pričujoči graf se ponaša z "zoom" funkcijo--le klikni in povleci!

#ppdow-chart.section{:"data-user-id" => @user.id}
  %h2.section-heading posti glede na dan v tednu:
  .section-content
    = chart_filter :ppdow, @ppdow_q
    #ppdow-chart-container.chart-container

#pphod-chart.section{:"data-user-id" => @user.id}
  %h2.section-heading posti glede na uro v dnevu:
  .section-content
    = chart_filter :pphod, @pphod_q
    #pphod-chart-container.chart-container
