#user-info
  %h2= @user
  = image_tag @user.avatar.url(:medium) if @user.avatar?
%h2.table-top statistika
.yello
  %dl
    %dt število postov:
    %dd= link_to @user.posts_count, user_posts_path(@user)
    %dt število tem:
    %dd= link_to @user.topics_count, user_topics_path(@user)
= form_tag request.path, method: :get, class: "chart-filter" do
  %h2.table-top posti glede na dan v tednu
  .yello
    .chart-buttons
      = radio_button_tag :ppdow_q, "all_time", @ppdow_q == :all_time, class: "submittable"
      = label_tag :ppdow_q_all_time, "vseskozi"
      = radio_button_tag :ppdow_q, "last_year", @ppdow_q == :last_year, class: "submittable"
      = label_tag :ppdow_q_last_year, "zadnje leto"
      = radio_button_tag :ppdow_q, "last_month", @ppdow_q == :last_month, class: "submittable"
      = label_tag :ppdow_q_last_month, "zadnji mesec"
      = radio_button_tag :ppdow_q, "last_week", @ppdow_q == :last_week, class: "submittable"
      = label_tag :ppdow_q_last_week, "zadnji teden"
    = column_chart @posts_per_dow,
       colors: ["#ffcf3e"], library: {chart: {backgroundColor: "#ffe495"},
       plotOptions: {column: {borderWidth: 0}}}

  %h2.table-top posti glede na uro v dnevu
  .yello
    .chart-buttons
      = radio_button_tag :pphod_q, "all_time", @pphod_q == :all_time, class: "submittable"
      = label_tag :pphod_q_all_time, "vseskozi"
      = radio_button_tag :pphod_q, "last_year", @pphod_q == :last_year, class: "submittable"
      = label_tag :pphod_q_last_year, "zadnje leto"
      = radio_button_tag :pphod_q, "last_month", @pphod_q == :last_month, class: "submittable"
      = label_tag :pphod_q_last_month, "zadnji mesec"
      = radio_button_tag :pphod_q, "last_week", @pphod_q == :last_week, class: "submittable"
      = label_tag :pphod_q_last_week, "zadnji teden"
    = column_chart @posts_per_hod,
       colors: ["#ffcf3e"], library: {chart: {backgroundColor: "#ffe495"},
       plotOptions: {column: {borderWidth: 0}}}
