#user-header
  #user-info
    %h2= @user
    %p
      število postov:
      = link_to @user.posts_count, user_posts_path(@user)
    %p
      število tem:
      = link_to @user.topics_count, user_topics_path(@user)
  = avatar_img @user

#pph-chart.section{:"data-user-id" => @user.id}
  %h2.section-heading posti skozi čas:
  .section-content.chart-block
    #pph-chart-container.chart-container

#ppdow-chart.section{:"data-user-id" => @user.id}
  %h2.section-heading posti glede na dan v tednu:
  .section-content.chart-block
    = render partial: "/shared/chart_filter",
        locals: {name: "ppdow", value: "three_months"}
    #ppdow-chart-container.chart-container
    #ppdow-chart-slider.chart-slider
    .clear

#pphod-chart.section{:"data-user-id" => @user.id}
  %h2.section-heading posti glede na uro v dnevu:
  .section-content.chart-block
    = render partial: "/shared/chart_filter",
        locals: {name: "pphod", value: "three_months"}
    #pphod-chart-container.chart-container
    #pphod-chart-slider.chart-slider
    .clear
